.emptyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 15.25rem;

  border-top: 1px solid var(--gray-300);
  border-radius: 8px;

  /* gap: 1rem; */
}

.emptyContent img {
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
}
